<div fxLayout="row" style="height: inherit;">
    <!--Expand/Collapse Button (change to chevron_right if open)-->
    <div fxLayout="column" 
         fxLayoutAlign="center center"
        style="height: inherit; background-color: grey;">
        <mat-icon (click)="expandToggle()">chevron_left</mat-icon>
    </div>
    <!-- Code Lists -->
    <div class="code-list"
         style="height: inherit; overflow-y: scroll"
         [hidden]="expanded"
         fxLayout="column"
         fxLayoutGap="24px"> 
        <div class="side-bar">
            <div class="sec-widget" 
            id="idInHTML"
                 data-id="A"
                data-widget="a9db7e9dfcb9c92c4908b96b62fa74bc">
            </div>
        </div>
        <div class="side-bar">
            <div class="sec-widget" 
            id="idInHTML"
                data-id="B"
                data-widget="a96f42e9705277dafb7f0113f5ea39b6">
            </div>
        </div>
        <div class="side-bar">
            <div class="sec-widget" 
                data-id="C"
                data-widget="a9db7e9dfcb9c92c4908b96b62fa74bc">
            </div>
        </div>
    </div>

</div>
