<div fxLayout="row" style="height: inherit;">
    <!--Expand/Collapse Button (change to chevron_right if open)-->
    <div fxLayout="column" 
         fxLayoutAlign="center center"
        style="height: inherit; background-color: grey;">
        <mat-icon [hidden]="expanded"  (click)="expandToggle()">chevron_left</mat-icon>
    </div>
    <!-- Code Lists -->
    <div style="height: inherit;"
         [hidden]="expanded"> 
         
        POPO dededededededededejjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjddededdedededededede 
    

        <div class="side-bar">
            <div class="sec-widget" 
                 data-widget="a9db7e9dfcb9c92c4908b96b62fa74bc">
            </div>
            </div>
            <div class="side-bar">
                <div class="sec-widget" 
                     data-widget="a9db7e9dfcb9c92c4908b96b62fa74bc">
                </div>
                </div>
    
        <div class="padded">
        <button (click)="inputCode()">
            IDE
        </button>
        </div>
    </div>

</div>
